/* Extra small devices (1px and up) */
@media (min-width: 1px) {

    header h1 {
        font-family: 'Alata', sans-serif;
        width: 77%;
        padding-left: 0em;
    }
    
    header nav {
        display: block;
        position: fixed;
        top: 3.8em;
        left: -100vw;
        width: 100vw;
        height: calc(100vh - 3.8em);
        background: white;
        text-align: left;
    }

    header nav .nav-item {
        display: block;
        margin: 1.7em 0.8em;
        font-size: 1.5em;
    }

    header #navtoggle {
        color: #b28b01;
        display: inline-block;
        width: 20%;
        font-size: 1.7em;
        text-align: right;
        vertical-align: middle;
    }

    #splash-tagline {
        width: 90%;
        margin-left: 5%;
        background: rgba(255,255,255,0.8);
        padding: 0.5em;
    }

}