/* Large devices (768px and up) */
@media (min-width: 768px) {
    
    header h1 {
        width: calc(20% - 1em);
        padding-left: 1em;
    }
    
    header nav {
        display: inline-block;
        position: static;
        width: 79%;
        height: 1.5em;
        text-align: right;
        vertical-align: middle;
    }

    header nav .nav-item {
        display: inline-block;
        margin: 0 0 0 2em;
        font-size: 1.1em;
    }

    header #navtoggle {
        display: none;
    }

    #splash-tagline {
        width: 40em;
        margin-left: 5vw;
        background: none;
        padding: 0em;
    }

}